.board {
	&,
	&__row,
	&__place {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		height: 100%;
	}
	&__row {
		height: $resp-height;
	}
	&__place {
		width: $resp-width;

		@each $prefix, $value in $maze-place {
			&#{$prefix} {
				background-color: #{$value};
			}
		}
	}
}
