$maze-place-default: #999;

$maze-place: (
	'--safe': #dedede,
	'--wall': #555,
	'--current': #936,
	'--start': #396,
	'--end': #6c3,
	'--next': #c61,
);

$count-rows: 7;
$count-space: 7;
$resp-width: (100 / $count-space) + #{'%'};
$resp-height: (100 / $count-rows) + #{'%'};
